.right-xs {
    margin-right: 5px
}

.right-s {
    margin-right: 10px
}

.right-m {
    margin-right: 15px
}

.right-l {
    margin-right: 20px
}

.right-xl {
    margin-right: 25px
}

.bottom-xs {
    margin-bottom: 5px
}

.bottom-s {
    margin-bottom: 10px
}

.bottom-m {
    margin-bottom: 15px
}

.bottom-l {
    margin-bottom: 20px
}

.bottom-xl {
    margin-bottom: 25px
}